.twoboxes {
    display: flex;
    /* align-items: center; */
    /* flex-direction: row; */
}

#editor {
    background-color: #C1BFC6;
    width: 45vw;
    height: 40vw;
    font-size: 1.5vw;
    margin: 0 auto;
    border: 1.5px solid #100720;
    border-radius: 4px;
    color: #5f5969; 
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

#editor:focus {
    box-shadow:         inset 0 0 10px #9383AA;
  }

#preview {
    background-color: #C1BFC6;
    width: 45vw;
    height: 40vw;
    font-size: 1.5vw;
    margin: 0 auto;
    border: 1.5px solid #5f5969;
    border-radius: 4px;
    color: #5f5969; 
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    overflow-y: scroll;
}
  